::-webkit-scrollbar-track {
  background-color: rgb(37, 37, 51);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: rgba(172, 163, 255, 0.5);
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

.titleMark {
  padding: 3px 8px 4px 8px;
  border-radius: 5px;
  color:rgb(31, 31, 51);
  font-size: 16px;
  background: linear-gradient(45deg, #a6acff, #ff9dd1);
}

@font-face {
  font-family: Caveat-SemiBold;
  src: url(styles/fonts/static/Caveat-SemiBold.ttf);
 }

.titleApp {
  font-size: 22px;
  font-family: Caveat-SemiBold;
}

.headerBtn {
  position: relative;
  display: inline-block;
  color: #a6acff;
  font-size: 18px;
  padding: 5px;
  margin-left: 20px;
  opacity: 0.4;
}

/* .headerLineBot {
  position: fixed;
  z-index: 2;
  top: 50px;
  width: 100%;
  height: 65px;
  white-space: nowrap;
  padding: 5px 10px 4px 0px;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  overflow-x: scroll;
  background-color: rgb(25, 25, 34);
} */

.btnInfo {
  position: relative;
  display: inline-block;
  height: 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin: 7px 6px 0px 6px;
  padding: 4px 12px 0px 12px;
  color: rgb(37, 37, 51);
  background-color: white;
  border-radius: 100px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s all;
}
.btnInfo:hover {
  cursor: pointer;
}

.linkStyle {
  color: rgba(0, 0, 0, 0.9);
}
.linkStyle:hover {
  text-decoration: none;
  background-color: rgba(17, 17, 17, 0);
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: 80%;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

.modal-content {
  background-color: #ffc9ed;
  color: rgba(0, 0, 0, 0.8);
}

.Header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  background-color: rgb(37, 37, 51);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  color: #dee1ff;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 15px 10px 15px;
}

.Body {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 100%;
  top: 50px;
  height: calc(100% - 115px);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(31, 31, 51);
  padding: 0px 10px 20px 10px;
}

.footer {
  position: fixed;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  height: 55px;
  padding: 8px 0 0 0;
  border-radius: 10px 10px 0 0;
  border-top: 2px solid #ffade4;
  background-color:rgb(37, 37, 51);
  text-align: center;
}

.btnFooter {
  position: relative;
  display: inline;
  margin: 0 28px;
  text-align: center;
  font-size: 22px;
  border-radius: 15px;
  overflow: hidden;
  color: #b4b9ff;
  text-align: center;
  transition: 0.1s all;
}
.btnFooter:hover {
  cursor: pointer;
  color: #ffa4f3;
  outline: none;
}

.copyrightText {
  position: relative;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  margin-top: 50px;
  text-align: center;
  color: #b9bfff;
  opacity: 0.3;
}

.postBtn {
  position: relative;
  display: inline-block;
  width: 60px;
  padding: 5px;
  margin: 0px 10px;
  font-size: 25px;
  background-color: rgb(31, 31, 51);
  color: rgb(37, 37, 51);
  text-align: center;
  border-radius: 100px;
  border: 2px solid white;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.8);
}

.inputText {
  position: relative;
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 3px 20px 3px 20px;
  font-size: 15px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  color: rgb(37, 37, 51);
  border: none;
  outline: none;
  resize: none;
}

.inputStr {
  position: relative;
  width: 100%;
  margin: 8px 0;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  color: rgb(37, 37, 51);
  border: none;
  outline: none;
}

.inputTitle {
  position: relative;
  width: 100%;
  margin: 20px 0 5px 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  font-weight: 500;
}

.submitBtn {
  position: relative;
  display: inline;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: rgb(37, 37, 51);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.infoText {
  position: relative;
  width: 100%;
  padding: 0px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #b9bfff;
  opacity: 0.6;
}

.shareTopicBtn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-bottom: 10px;
  padding: 1px 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  color: rgb(37, 37, 51);
}

.Loading {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  text-align: center;
}

.spinner-border {
  position: relative;
  width: 3rem;
  height: 3rem;
  color: #ffa6d6;
}

.LoadingText {
  position: relative;
  font-size: 18px;
  color: #cbcfff;
  margin: 5px;
}

.icon {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  text-align: center;
  border-radius: 20px;
  padding: 10px 10px;
  background-color: rgb(26, 26, 36);
  color: #cbcfff;
  transition: 0.2s all;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.icon:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.9);
  background-color: #adb4ff;
}

.iconTitle {
  position: relative;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  padding: 3px;
  border-radius: 30px;
}

.btnsTitle {
  position: relative;
  width: 100%;
  margin: 45px 0px 0px 0px;
  padding: 3px 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0.8);
  border-radius: 10px 10px 0 0;
  background-color: #adb4ff;
}

.btnsBackground {
  padding: 20px 15px 1px 15px;
  border-bottom: 2px solid #FD8FCC;
  background-color: #2e3047;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.infoText {
  position: relative;
  width: 100%;
  padding: 0px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #b9bfff;
  opacity: 0.6;
}
